table {
    width: 60%;
    border: 1px solid gray;
    text-align: left;
    border-spacing: 0px 0px;
}

table tr:nth-child(even){
    background: lightgray;
}
table tr:nth-child(odd){
    background: white;
}
table tr:nth-child(1){
    background: lightgreen;
}
td {
    height: 50px;
    vertical-align: bottom;
    border-color:black;
    border-width: thin medium thin medium;
    border-style:dotted solid none none;
}
