.question {
    background-color: rgb(254, 181, 192);
}

.answer {
    background-color: rgb(173, 216, 230);
    margin-left: 30px;
    text-align: center;
}

.numbers {
    font-style: italic;
}

.formula {
    text-transform: lowercase;
}