h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.positioned {
    position: absolute;
    width: 100%;
    margin-top: 0px;
    text-align: left;
    background-color: yellow;
    border: solid 1px pink;
}

.para {
    position: relative;
    width: 225px;
    margin-top: 60px;
    margin-bottom: -20px;
    background-color: rgb(174, 216, 229);
    border: solid 1px blue;
}

.newpara {
    position: relative;
    margin-left: 15px;
    border: solid 1px brown;
}

.topleft {
    position: fixed;
    top: 20px;
    margin-left: 15px;
    border: solid 1px green;
}